
.icon-user:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-info-circled:before { content: '\e803'; } /* '' */
.icon-lock-open:before { content: '\e804'; } /* '' */
.icon-lock:before { content: '\e805'; } /* '' */
.icon-attach:before { content: '\e806'; } /* '' */
.icon-folder:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-chart-bar:before { content: '\e809'; } /* '' */
.icon-edit-alt:before { content: '\e80a'; } /* '' */
.icon-export:before { content: '\e80b'; } /* '' */
.icon-pencil:before { content: '\e80c'; } /* '' */
.icon-trash:before { content: '\e80d'; } /* '' */
.icon-wrench-circled:before { content: '\e80e'; } /* '' */
.icon-cogs:before { content: '\e80f'; } /* '' */
.icon-zoom-out:before { content: '\e810'; } /* '' */
.icon-zoom-in:before { content: '\e811'; } /* '' */
.icon-user-1:before { content: '\e812'; } /* '' */
.icon-reply-all:before { content: '\e813'; } /* '' */
.icon-mail-1:before { content: '\e814'; } /* '' */
.icon-home-1:before { content: '\e815'; } /* '' */
.icon-book-open:before { content: '\e816'; } /* '' */
.icon-flag:before { content: '\e817'; } /* '' */
.icon-basket:before { content: '\e818'; } /* '' */
.icon-phone:before { content: '\e819'; } /* '' */
.icon-plus:before { content: '\e81a'; } /* '' */
.icon-ok:before { content: '\e81b'; } /* '' */
.icon-floppy:before { content: '\e81c'; } /* '' */
.icon-globe:before { content: '\e81d'; } /* '' */
.icon-cloud:before { content: '\e81e'; } /* '' */
.icon-flash:before { content: '\e81f'; } /* '' */
.icon-thumbs-up:before { content: '\e820'; } /* '' */
.icon-archive:before { content: '\e821'; } /* '' */
.icon-bell:before { content: '\e822'; } /* '' */
.icon-search:before { content: '\e823'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; } /* '' */
.icon-tripadvisor:before { content: '\f262'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-usb:before { content: '\f287'; } /* '' */
.icon-blind:before { content: '\f29d'; } /* '' */